/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main Style */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
a {
  color: #fff;
}
li {
  list-style: none;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.97);
}
.btn.btn-block {
  display: block;
  width: 100%;
}

/* Container */
.container {
  width: 550px;
  padding: 20px;
  margin: 50px auto;
  border: 1px solid #333;
  border-radius: 5px;
}
@media (max-width: 576px) {
  #root {
    width: 100%;
    padding: 10px;
  }
  .container {
    width: 100%;
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Add Form */
.add-form {
  margin-bottom: 40px;
}
.add-form .form-control {
  margin-bottom: 20px;
}
.add-form .form-control lable {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 3px;
}
.add-form .form-control input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 17px;
}
.add-form .form-control input:focus {
  outline: none;
}
.add-form .form-control-check {
  display: flex;
  align-items: center;
}
.add-form .form-control-check label {
  width: 50%;
}
.add-form .form-control-check input {
  width: fit-content;
}

/* Tasks */
.task {
  background: #e5e5e5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  border-left: 0 solid green;
  transition: 0.1s;
}
.task h3 {
  word-break: break-all;
  margin-bottom: 5px;
}
.task.reminder {
  border-left-width: 5px;
}
.task .close {
  color: red;
  font-size: 20px;
}